version: '3.5'

services:
  phpfpm:
    build:
      context: .
      args:
        UID: ${USER_ID:-1000}
        GID: ${GROUP_ID:-1000}
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - .:/app
